* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ========== Common ========== */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 2.45rem;
    background: #171100;
    text-decoration: none;
}

/* ========== Header ========== */

.header {
    background-color: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
}

.header .body {
    display: flex;
    padding: 36px 0 8px;
    align-items: center;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    color: #5f5b53;
    font-size: 1.6rem;
    text-decoration: none;
}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 1.2rem;
    height: 0.2rem;
    border-radius: 0.1rem;
    background: #171100;
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}
